* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
.wrapper {
	width: 1500px;
	margin: 0 auto;
}

.wrapper p {
	width: 890px;
	margin: 0 auto;
}

/* --- header --- */
header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: fixed;
}

/* --- logo --- */
.logo img{
	float: left;
	margin-top: 8px;
	width: 80px;
}

/* --- Titre dans la barre --- */
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}


.content-area {
	width: 100%;
	position:absolute;
	top: 100px;
	background: white;
	height: 680px;
}

.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}

.form-details img{
	justify-content: center;
	width: 340px;
	margin-bottom: 30px;
}


.form-details{
	background: transparent;
	border: none;
	outline: none;
	margin-top: 30px;
	font-size: 22px;
	font-weight: bold;
}

input{
	margin-top: 20px;
	text-align: center;
	width: 300px;
	height: 45px;
	background: transparent;
	color: black;
	font-size: 20px;
}

form .submit{
	background: black;
	color: white;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1.5px;
	height: 50px
}

form .submit:hover{
	background-color: red;
	border-color: red;
	cursor: pointer;
}

/* --- Footer --- */
footer {
	margin-top: 59px;
	height: 25px;
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color:#262626;
    color: #fff;
}
